<div class="menu-backdrop" data-menu>
  <div class="mobile-menu">
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="menu-close-icon">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    
    <nav class="menu-nav">
      <ul class="btn-list">
        <li>
          <button  class="btn-list-item list-info-btn" type="button" onclick="location.href='#how-it-works'">How It Works</button>
          <!-- <button type="button" class="btn-list-item list-info-btn">
            <a href="#how-it-works">How It Works</a>
          </button> -->
        </li>
        <li>
          <button class="btn-list-item" type="button" onclick="location.href='#vegetables'">Vegetables</button>
          <!-- <button type="button" class="btn-list-item">
            <a href="#vegetables">Vegetables</a>
          </button> -->
        </li>
        <li>
          <button class="btn-list-item" type="button" onclick="location.href='#reviews'">Reviews</button>
          <!-- <button type="button" class="btn-list-item">
            <a href="#reviews">Reviews</a>
          </button> -->
        </li>
      </ul>
    </nav>
  
    <button type="button" class="menu-shop-btn">Shop now</button>
  </div>
</div>