<div class="mobile-menu">
  <button type="button" class="menu-close-btn">
    <svg class="menu-close-icon">
      <use href="/img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  
  <ul class="btn-list">
    <li>
      <button type="button" class="btn-list-item list-info-btn">How It Works</button>
    </li>
    <li>
      <button type="button" class="btn-list-item">Vegetables</button>
    </li>
    <li>
      <button type="button" class="btn-list-item">Reviews</button>
    </li>
  </ul>

  <button type="button" class="menu-shop-btn">Shop now</button>
</div>