<section class="section-reviews">
  <div class="container">
    <h2 class="reviews-title">
      reviews <br />from our<br />
      <span class="reviews-accent">customers</span>
    </h2>
    <p class="reviews-feedback">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="revievs-list">
      <li class="revievs-сustomer"></li>
      <li class="revievs-сustomer">2</li>
      <li class="revievs-сustomer">3</li>
    </ul>
  </div>
</section>
