.backdrop {
  background-color: rgba(87, 111, 53, 0.8); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 0.4), 
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 0.4);

}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal-menu {
  transform: translate(-50%, -50%) scale(0.2); 
  opacity: 0;
}

.modal-menu {
  background-color: #fbfbfb;
  padding: 40px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 335px;
  min-height: 552px;
  border-radius: 40px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-menu {

    width: 524px;
    height: 592px;
    padding: 52px 48px;
  }

}

@media only screen and (min-width: 1280px) {
  .modal-menu {

    width: 640px;
    height: 632px;
    padding: 72px 100px;

  }
}

.close {
  background-color: #576f35;
  border: none;
  border-radius: 50px;
  fill: #fbfbfb;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: #7A3145;
}

/* 🎯 СТЫЛІ ДЛЯ КНОПКІ "SEND" */

/* Звычайны стан */
.form-btn {
  background-color: #7A3145;

  color: #FBFBFB;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Ховер і фокус */
.form-btn:hover,
.form-btn:focus {
  background-color: #D4BFC4;
  color: #7A3145;
}

/* 🔴 НЕАКТЫЎНАЯ КНОПКА (КАЛІ ФОРМА НЕ ЗАПОЎНЕНА) */
.form-btn:disabled {
  background-color: #FBFBFB; /* Светлы фон */
  color: #7A3145; /* Цёмны тэкст */
  border: 2px solid #7A3145; /* Дададзена рамка */
  cursor: not-allowed;
  opacity: 0.6;
}

/* 🎯 СТЫЛІ ДЛЯ ІНПУТАЎ */

/* Калі поле няправільна запоўнена */
input:required:invalid,
textarea:required:invalid {
  border: 2px solid #d9534f; /* Чырвоная рамка */
}

/* Калі поле запоўнена правільна */
input:required:valid,
textarea:required:valid {
  border: 2px solid #7A3145;
}

/* Фокус на інпут */
input:focus,
textarea:focus {
  outline: none;
  border-color: #D4BFC4;
}


