.backdrop {

  background-color: #576f35;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 812px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal-menu {
  transform: translate(-50%, -50%) scale(1/5);
}

.modal-menu {
  background-color: #fbfbfb;
  padding: 40px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  min-height: 552px;
  border-radius: 40px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-menu {
    width: 640px;
    height: 632px;
    padding: 72px 100px;
  }

  .modal {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .modal-menu {
    width: 524px;
    height: 592px;
    padding: 52px 48px;
  }
}

.clouse {
  background-color: #576f35;
  border: none;
  border-radius: 50px;
  fill: #fbfbfb;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.clouse:hover,
.clouse:focus {
  border: none;
  background-color: #7A3145;
}

.modal {
  margin-bottom: 20px;
}