.section-reviews {
  background-color: hsl(0, 0%, 100%);
  padding: 80px 0;
  width: 100%;
}

.reviews-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  color: #141414;
  margin-bottom: 20px;
}
.reviews-accent {
  color: #576f35;
}
.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #141414;
  margin-bottom: 40px;
  text-align: left;
  width: 100%;
}

.reviews-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews-item {
  width: 100%;
  max-width: 335px;
  border-radius: 24px;
  padding: 20px 16px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #d4bfc4;
}

.reviews-item:nth-child(n + 2) {
  display: none;
}

.reviews-card {
  border-radius: 72px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.title-customer {
  margin-bottom: 8px;
  text-align: center; /* Для текста внутри <h3> */
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
}

.text-customer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #858585;
  max-width: 288px;
}

/* Tablet (768px) */
@media only screen and (min-width: 768px) {
  .reviews-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
    width: 553px;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }
  .reviews-list {
    gap: 24px;
  }
  .reviews-item:nth-child(1),
  .reviews-item:nth-child(2) {
    display: block; /* Показываем первые два пункта */
  }
  .reviews-item:nth-child(n + 3) {
    display: none;
  }
  .text-customer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    max-width: 303px;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .reviews-item {
    display: block; /* Показываем все элементы с классом .reviews-item */
  }
}
