.section-reviews {
  background-color: #fff;
  height: 664px;
  padding: 20px 0;
}
.reviews-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.reviews-accent {
  color: #576f35;
}
