 .section-vegetables {
   background-color: #7a3145;
   padding: 80px 0;
 }

 .vegetables-title {
   color: #fbfbfb;
   font-weight: 800;
   font-size: 48px;
   line-height: 1.08;
   letter-spacing: -0.01em;
   text-transform: uppercase;
   margin-bottom: 20px;
 }

 .veg-title-span {
   color: #d4bfc4;
 }

 .vegetables-text-info {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.43;
   color: #fbfbfb;
   margin-bottom: 40px;
 }

 .vagetabels-subtitle {
   margin-bottom: 12px;
   font-weight: 800;
   font-size: 28px;
   line-height: 1;
   letter-spacing: -0.01em;
   text-transform: uppercase;
   color: #7a3145;
 }

 .vagetabels-text {
   font-weight: 500;
   margin-bottom: 12px;
   font-size: 14px;
   line-height: 1.43;
   color: #141414;
 }

 .vegetabels-cart {
   perspective: 1000px;
   width: 100%;
   height: 100%;
 }

 .card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 0.6s;
   transform-style: preserve-3d;
 }

 .card-front,
 .card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 40px;
   background-color: #fff;
 }

 .card-front {
   padding: 32px 24px;
 }

 .card-back {
   transform: rotateY(180deg);
   background-color: #576F35;
   padding: 32px 24px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .vegetabels-item:hover .card-inner {
   transform: rotateY(180deg);
 }

 .vagetabels-cover-text {
   color: #fff;
   font-weight: 500;
   font-size: 16px;
   text-align: center;
 }

 .vegetabels-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
   gap: 20px;
   padding: 0;
   margin: 0;
 }

 .vegetabels-item {
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   border-radius: 40px;
   padding: 0;
   height: 376px;
   background-color: transparent;
 }
 .vegetables-img {
   max-width: 100%;
   max-height: 100%;
   height: auto;
   object-fit: cover;
 }
 
 @media screen and (min-width: 768px) {
   .vegetables-title {
     max-width: 508px;
    font-size: 64px;
   }

   .vegetables-text-info {
     max-width: 626px;
    font-size: 16px;
   }

  .vagetabels-text {
      font-size: 16px;
      line-height: 1.25;
    }

  .vagetabels-subtitle {
     font-size: 32px;
  }
  
   .section-vegetables {
     padding: 100px 0;
   }

   .vegetables-text-info {
     margin-bottom: 52px;
   }

   .vegetables-list {
     grid-template-columns: repeat(auto-fit, minmax(330px, calc((100% - 48px) / 2)));
     gap: 28px 24px;
     padding: 0 12px;
   }

   .vegetables-item {
     height: 380px;
   }

   .card-front {
     padding: 32px 30px;
   }
 }

 @media screen and (min-width: 1280px) {
   .vegetables-list {
     grid-template-columns: repeat(auto-fit, minmax(344px, calc((100% - 48px) / 3)));
     gap: 28px 24px;
   }

   .vegetables-item {
     height: 380px;
   }

   .card-front {
     padding: 32px 32px;
   }
 } 